body{
	width:100%;
	height:100%;
	padding: 0em;
	margin: 0em;
//	background-image:url(../images/oa_app/bg.png);
//	background-size:100% 100%;
//	background-repeat: no-repeat;
    background-color:#e8e8e8;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
.mainTab{
	/*margin-top:1.5em;*/
}

.td_ann{
	width:6.0833em;
	height:6.0833em;
	background-image:url(../images/oa_app/icon_1.png);
	background-size:6.0833em 6.0833em;
	background-repeat: no-repeat;
}
.td_task{
	width:6.0833em;
	height:6.0833em;
	background-image:url(../images/oa_app/icon_2.png);
	background-size:6.0833em 6.0833em;
	background-repeat: no-repeat;
}
.td_msg{
	width:6.0833em;
	height:6.0833em;
	background-image:url(../images/oa_app/icon_3.png);
	background-size:6.0833em 6.0833em;
	background-repeat: no-repeat;
}
.td_gtasks{
	width:6.0833em;
	height:6.0833em;
	background-image:url(../images/oa_app/icon_4.png);
	background-size:6.0833em 6.0833em;
	background-repeat: no-repeat;
}
.td_read{
	width:6.0833em;
	height:6.0833em;
	background-image:url(../images/oa_app/icon_5.png);
	background-size:6.0833em 6.0833em;
	background-repeat: no-repeat;
}

.span_zh{
	font-family: "Microsoft YaHei" ! important;
	font-size:1.125em;
}

.span_en{
	font-family: 黑体;
	font-size:0.875em;
}

.point_div{
	width: 1.5em;
	height:1.5em;
	 position:relative;
	 line-height: 1.5em;
	 top:-3.04165em;
	 right:-3.04165em;
	 background-size:1.5em 1.5em;
	 background-image:url(../images/oa_app/icon_6.png);
	 margin:0 auto;
	 text-align:center;
	 display:none;
}

.titleTab{
	height: 2.75em;
	background-image: url(../images/common/01top_mid.png);
	background-size:0.1875em 2.75em;
}
.titleI{
	height: 2.75em;
	width: 2.75em;
	text-align:center;
}
.titleSet{
	height: 2.75em;
	width: 2.75em;
	text-align:center;
}
.page{
	height: 2em;
	width: 50%;
	background-image: url(../images/common/00nav_2.png);
	background-size:0.1875em 2em;
	line-height: 2em;
	text-align: center;
	font-size:1em;
	font-weight:bold;
	color:#333333;
	font-family: "Microsoft YaHei" ! important;
}
.pageAct{
	height: 2em;
	width: 50%;
	background-image: url(../images/common/00nav_1.png);
	background-size:0.1875em 2em;
	line-height: 2em;
	text-align: center;
	font-size:1em;
	font-weight:bold;
	color:white;
	font-family: "Microsoft YaHei" ! important;
}
.notfiyTable{
	height: 2em;
	width:100%;
	background-image: url(../images/common/03bg_mid.png);
	background-size:0.1875em 2em;
	position: fixed;
	bottom:0px;
	height: 2em;
}
.notfiyIcon{
	height: 2em;
	width:3.2em;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../images/common/03icon.png);
	background-size:0.7em 0.7em;
}
.notfiyText{
	height: 2em;
	text-align:left;
	vertical-align:middle;
	color:#333333;
	font-size:1em;
	font-family: "Microsoft YaHei" ! important;
}
a , a:link ,a:visited ,a:hover ,a:active{
	color:#333333;
	text-align:center;
	text-decoration:none;
}
 .Scroller {
    line-height: 2em;
    padding: 0em 0.625em;
    height: 2em;
}

.Scroller * {
    margin: 0em;
    padding: 0em;
}

.ScrollMid {
    float: left;
}

.ScrollMid ul {
    float: left;
}

.ScrollMid li {
    list-style: none;
    float: left;
    line-height: 2em;
	padding-left: 0.625em;
}

.jyimage{
	width: 100%;
	height:8.0625em;
}


.apptitle1{
	text-align: center;
	background-color:#3DBF55;
	color: white;
	font-size:1em;
	font-family: "Microsoft YaHei" ! important;
}
.apptitle2{
	text-align: center;
	background-color:#FFA200;
	color: white;
	font-size:1em;
	font-family: "Microsoft YaHei" ! important;
}
.apptitle3{
	text-align: center;
	background-color:#2D91D0;
	color: white;
	font-size:1em;
	font-family: "Microsoft YaHei" ! important;
}
.apptitle4{
	text-align: center;
	background-color:#E55539;
	color: white;
	font-size:1em;
	font-family: "Microsoft YaHei" ! important;
}

.appheight{
	height:4em;
}
.appcenterimg3{
	width: 0.675em;
	height:0.675em; 
	position:relative;
	top:-0.625em;
	background-image: url('../images/oa_app/oa_point.png');
}