body{
	padding: 0em;
	margin: 0em;
	background-color: #e8e8e8;
	width: 100%;
}
.flowlogo{
	width: 4.75em;
	height:4.75em;
	vertical-align:middle;
	/*text-align:center;*/
}
.flowname{
	font-size:0.8em;
	font-family:Microsoft YaHei;
	color:#fffff;
	text-align:center;
}
.span_zh{
	font-family: "Microsoft YaHei" ! important;
	font-size:1em;
}

.span_en{
	font-family: "Microsoft YaHei" ! important;
	font-size:10px;
}

.flown_td{
	padding-top:1em;
}
