body{
	padding: 0em;
	margin: 0em;
	background-color: #FFFFFF;
}
.readtable{
	/*padding-top:1em;*/ 
	background-color: #FFFFFF;
	border-bottom: #CDCDCD 1px solid;
}
.readtable2{
	padding-top:1em; 
	background-color: #F5F5F5;
	border-bottom: #CDCDCD 1px solid;
}
.readcontenttable{
	padding-bottom:0.5em;
	padding-top:0.5em;
	padding-left: 1em;
}
.readtitle{
	color: #333333;
	font-family: "Microsoft YaHei" ! important;
	font-size: 1em;
	height: 1.5em;
}
.readcontent{
	color: #9B9B9B;
	height: 1.5em;
	font-family: "Microsoft YaHei" ! important;
	font-size: 0.8em;
}
.readimgtd{
	width :2.1875em; 
	height:2.78125em;
}
.readimg{
	padding-left: 1.1875em;
	padding-bottom: 1em;
}
.readtime{
	color: #D4D4D4;
	height: 1.5em;
	text-align: right;
	padding-right: 1em;
	font-family: "Microsoft YaHei" ! important;
	font-size: 0.8em;
}

.css-label1{
	width:1.5em;
	height:1.5em;
}
