.swi
{	
	width:4.6em;
	position:relative;
	height:1.625em;
	overflow:hidden;
	background-image:url('switch/on-off.png');
	background-size:auto 100%;
	background-repeat:no-repeat;
	background-origin:border-box;
}



input[type=checkbox]:checked + div.swi{
background-position:-0.1em;
}
input[type=checkbox] + div.swi
{
background-position:-2.45em;
}